<!-- with square brackets you are directly binding to native html property (disabled). You bind it to an expression.
Has to be typescript code within the quotes
For this we bind it to something that results to a boolean

Can also bind to Directives and custom components-->
<label>Server Name</label>

<!-- This shows event binding. the event is put in () then the code you want to execute in quotes beside it.
You can bind to all the events made possible by that HTML element.

ex: (input)= "onUpdateServerName()"
The event is an input event which preforms the method each time the event is fired. (every input)

($event) represents the data of that event, informtion.
<input type="text" class="form-control" (input)="onUpdateServerName($event)"> -->

<!-- This shows Two-way Binding.
You need the formsModule imported in appComponent.ts

Syntax: [{ngModel}]="what youre binding to" -->
<input type="text" class="form-control" [(ngModel)]="serverName">

<!-- <p> {{ serverName }} </p> -->

<button class="btn btn-primary"
[disabled]="!allowNewServer"
(click)="onCreateServer()">Add Server</button>
<p [innerText]="allowNewServer"></p>

<!-- An example of string interpolation of a boolean
<p>{{ allowNewServer }}</p> -->

<p>{{ serverCreationStatus }}</p>
<app-server></app-server>
<app-server></app-server>
